Repository polycube-network/polycube, pull requests merged in 2018-12, with the labels that each got.

#31 pcn-k8switch: remove garbage in datapath file
  src/services/pcn-k8switch/src/K8switch_dp.c
Labels: component/k8s, priority/urgent

#32 components/k8s: remove dockersecret
  src/components/k8s/dockersecret.yaml
  src/components/k8s/pcn-k8s.yaml
Labels: component/k8s

#30 remove the shared login credential
  Documentation/quickstart.rst
Labels: cleanup

#33 remove not needed .gitignores
  src/components/k8s/utils/k8switch/.gitignore
  src/polycubed/.gitignore
  src/polycubed/src/.gitignore
  src/services/pcn-bridge/.gitignore
  src/services/pcn-nat/test/.gitignore
Labels: cleanup
