Repository polycube-network/polycube, pull requests merged in 2019-05, with the labels that each got.

#123 polycubed: show parent when attached to a netdev
  src/polycubed/src/extiface.cpp
  src/polycubed/src/extiface.h
  src/polycubed/src/transparent_cube.cpp
Labels: component/polycubed

#120 Fix typos
  src/polycubed/src/polycubed.cpp
  src/polycubed/src/service_controller.cpp
Labels: component/polycubed

#130 polycubed: fix busy wait in netlink socket
  src/polycubed/src/netlink.cpp
Labels: bug, component/polycubed, priority/high

#134 polycubectl: fix reading from standard input
  src/polycubectl/cliargs/cliargs.go
Labels: component/cli, priority/urgent

#132 Add veth library
  src/polycubed/src/CMakeLists.txt
  src/polycubed/src/controller.cpp
  src/polycubed/src/extiface.cpp
  src/polycubed/src/extiface_tc.cpp
  src/polycubed/src/extiface_xdp.cpp
  src/polycubed/src/polycubed.cpp
  src/polycubed/src/polycubed_core.cpp
  src/polycubed/src/polycubed_core.h
  src/polycubed/src/port_xdp.cpp
  src/polycubed/src/rest_server.cpp
  src/polycubed/src/server/Parser/YangNodes.tcpp
  src/polycubed/src/service_controller.cpp
  src/polycubed/src/service_controller.h
  src/polycubed/src/utils/extiface_info.cpp
  src/polycubed/src/utils/extiface_info.h
  src/polycubed/src/utils/netlink.cpp
  src/polycubed/src/utils/netlink.h
  src/polycubed/src/utils/ns.cpp
  src/polycubed/src/utils/ns.h
  src/polycubed/src/utils/utils.cpp
  src/polycubed/src/utils/utils.h
  src/polycubed/src/utils/veth.cpp
  src/polycubed/src/utils/veth.h
  src/services/pcn-iptables/src/Iptables.cpp
  src/services/pcn-iptables/src/Iptables.h
  src/services/pcn-iptables/src/modules/ChainForwarder.cpp
  src/services/pcn-iptables/src/modules/ChainSelector.cpp
  src/services/pcn-iptables/src/modules/Parser.cpp
Labels: under-review

#136 polycubectl: remove hardcoded version logic
  src/polycubectl/cliargs/cliargs.go
  src/polycubectl/config/config.go
  src/polycubectl/hardcodedversion.go
  src/polycubectl/main.go
Labels: component/cli
