Repository polycube-network/polycube, pull requests merged in 2019-07, with the labels that each got.

#158 Alignment between port/transparent_cube and netdev (when they are connected)
  src/libs/polycube/include/polycube/services/cube_iface.h
  src/libs/polycube/include/polycube/services/port.h
  src/libs/polycube/include/polycube/services/port_iface.h
  src/libs/polycube/include/polycube/services/transparent_cube.h
  src/libs/polycube/include/polycube/services/types.h
  src/libs/polycube/src/port.cpp
  src/libs/polycube/src/transparent_cube.cpp
  src/polycubed/src/extiface.cpp
  src/polycubed/src/extiface.h
  src/polycubed/src/peer_iface.h
  src/polycubed/src/polycubed_core.cpp
  src/polycubed/src/polycubed_core.h
  src/polycubed/src/port.cpp
  src/polycubed/src/port.h
  src/polycubed/src/server/Resources/Data/Lib/ConcreteFactory.cpp
  src/polycubed/src/transparent_cube.cpp
  src/polycubed/src/transparent_cube.h
  src/polycubed/src/utils/netlink.cpp
  src/polycubed/src/utils/netlink.h
  src/polycubed/src/utils/veth.cpp
  src/services/pcn-nat/src/Nat.cpp
  src/services/pcn-nat/src/Nat.h
  src/services/pcn-router/src/Ports.cpp
  src/services/pcn-router/src/Ports.h
Labels: component/polycubed

#169 polycubed: fix connect after attach to netdev
  src/polycubed/src/service_controller.cpp
Labels: bug, component/polycubed

#162 Improved entry point of the documentation.
  Documentation/components/index.rst
  Documentation/components/iptables/pcn-iptables.rst
  Documentation/images/polycube-archi.png
  Documentation/images/polycube-archi.pptx
  Documentation/index.rst
  Documentation/intro.rst
  Documentation/services/pcn-iptables/iptables.rst
  Documentation/tutorials/index.rst
  Documentation/tutorials/tutorial3/tutorial3.rst
  README.md
Labels: documentation

#171 fix align interfaces logic
  src/polycubed/src/port.cpp
  src/polycubed/src/port.h
  src/polycubed/src/utils/netlink.h
  src/services/pcn-router/src/Ports.cpp
Labels: component/polycubed

#177 polycubed: provide systemd integration
  Documentation/polycubed/polycubed.rst
  Documentation/quickstart.rst
  src/polycubed/CMakeLists.txt
  src/polycubed/systemdservice/CMakeLists.txt
  src/polycubed/systemdservice/polycubed.service.in
Labels: component/polycubed

#166 load old topology at startup and save each modification to file
  Documentation/polycubed/polycubed.rst
  src/polycubed/src/CMakeLists.txt
  src/polycubed/src/config.cpp
  src/polycubed/src/config.h
  src/polycubed/src/cubes_dump.cpp
  src/polycubed/src/cubes_dump.h
  src/polycubed/src/peer_iface.cpp
  src/polycubed/src/peer_iface.h
  src/polycubed/src/polycubed.cpp
  src/polycubed/src/polycubed_core.cpp
  src/polycubed/src/polycubed_core.h
  src/polycubed/src/rest_server.cpp
  src/polycubed/src/rest_server.h
  src/polycubed/src/server/Resources/Body/ListKey.h
  src/polycubed/src/server/Resources/Endpoint/LeafResource.cpp
  src/polycubed/src/server/Resources/Endpoint/ListResource.cpp
  src/polycubed/src/server/Resources/Endpoint/ParentResource.cpp
  src/polycubed/src/server/Resources/Endpoint/ParentResource.h
  src/polycubed/src/server/Resources/Endpoint/Resource.cpp
  src/polycubed/src/server/Resources/Endpoint/Resource.h
  src/polycubed/src/server/Resources/Endpoint/Service.cpp
  src/polycubed/src/server/Resources/Endpoint/Service.h
Labels: component/polycubed, enhancement

#149 elaboration to steps of pcn-iptables
  Documentation/components/iptables/pcn-iptables.rst
Labels: documentation

#159 Update AUTHORS
  AUTHORS
Labels: under-review
